
@mixin animation($duration, $name, $iteration : infinite ) {
  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
}
